<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="/gerador/cpf">Gerador de CPF</a>
        <a href="/gerador/cnpj">Gerador de CNPJ</a>
        <a href="/validador/cpf">Validar CPF</a>
        <a href="/validador/cnpj">Validar CNPJ</a>
    </nav>

    <div class="content">
        <h1>{% block title_content %}{% endblock %}</h1>

        {% block content %}
        {% endblock %}
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>